BASE_URL=https://qaacademyabc.xyz
API_KEY=a600a6fd-661e-4226-8a30-e59cce157e4b
UI_EMAIL=isaac.hernandez.qz@gmail.com
UI_PASSWORD=QMP4ntv7vut*agu2jzm
DEVICE_PROFILE=desktop
VERCEL_AUTOMATION_BYPASS_SECRET=b8a4f6e2c9d1a3b5f7e8c4d2a1b9f3e6
TEST_IDS=
