.env
.env.*
!.env.example

**/node_modules/
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/target/
**/dist/

**/allure-results/
**/allure-report/
**/playwright-report/
**/test-results/
**/screenshots/
**/videos/
**/downloads/

*.log
.DS_Store
.logs
